{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './Css/base.css' %}">
    <link rel="stylesheet" href="{% static './Js/aos-master/dist/aos.css' %}">
    <script src="{% static './Js/aos-master/dist/aos.js' %}"></script>
</head>
<body>
    <header>
        <img id="menu-icon" src="{% static './images/menu icon.png' %}" alt="">
        <ul id="dropdown">
            <img src="{% static './images/close.png' %}" alt="" id="close">
            <li><a href="{% url 'home:home' %}">{% translate "HOME" %}</a></li>
            <li><a href="{% url 'home:events' %}">{% translate "EVENTS" %}</a></li>
            <li><a href="{% url 'home:about' %}">{% translate "ABOUT" %}</a></li>
            <li>{% translate "CONTACT" %}</li>
            <li id="language1">{% translate "LANGUAGE" %}</li>
            <li><a href="{% url 'home:profiles' %}">{% translate "PROFILES" %}</a></li>
        </ul>
        <div class="container">
            <div class="language-form">
                <form action="{% url 'set_language' %}" method="post" class="language-switch">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ redirect_to }}">
                    <label for="language" class="language">{% translate "To change your language, select from the list provided" %}</label>
                    <select name="language" id="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages%}
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                                {{ language.name_local}} "{{ language.code }}" 
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="CHANGE">
                    <button class="cancel">CANCEL</button>
                </form>
            </div>
            <nav class="navbar">
                <figure class="logo-img">
                    <img id="logo" src="{% static './images/charity logo.png' %}" alt="logo">
                </figure>
                <ul id="menu">
                    <li><a href="{% url 'home:home' %}">{% translate "HOME" %}</a></li>
                    <li><a href="{% url 'home:events' %}">{% translate "EVENTS" %}</a></li>
                    <li><a href="{% url 'home:about' %}">{% translate "ABOUT" %}</a></li>
                    <li>{% translate "CONTACT" %}</li>
                    <li id="language2">{% translate "LANGUAGE" %}</li>
                    <li><a href="{% url 'home:profiles' %}">{% translate "PROFILES" %}</a></li>
                </ul>
            </nav>
            <div id="donate-btn">
                <button><a href="{% url 'home:donate' %}">{% translate "Donate" %}</a></button>
            </div>
        </div>
    </header>
    {% if messages %}
    <ul class="messages">
        {% for messages in messages %}
        <li {% if messages.tags %} class="{{ messages.tags }}" {% endif%}>{{ messages }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block body %}

    {% endblock %}
    <footer class="footer">
		<div class="container2">
			<h2 class="about-us"><a href="{% url 'home:about' %}">{% trans "About Us" %}</a><br>{% trans "Contact" %} <br>{% trans "Terms & Conditions" %}</h2>
			<h2 class="social_media_addresses"><img src="{% static './images/white_facebook_icon.png' %}" alt=""> {% trans "Facebook" %} <br><img src="{% static './images/white_twitter_icon.png' %}" alt=""> {% trans "Twitter" %} <br><img src="{% static './images/instagram_icon.png' %}" alt=""> {% trans "Instagram" %}</h2>
			<h2 class="address">497 Evergreen Rd. Roseville, CA 95673 <br>+44 345 678 903 <br>adobexd@mail.com</h2>
		</div>
		<div class="container3">
			<h2 class="newsletter">{% trans "Subscribe to our newsletter" %}</h2>
			<div class="email">
				<form action="" method="POST" class="email">
                    {% csrf_token %}
                    {{ form }}
					<button class="email"><input type="submit" name="subscription_email" placeholder="Submit"></button>
				</form>
			</div>
		</div>
	</footer>
</body>
<script src="{% static './Js/base.js' %}"></script>
</html>
