{% extends "home/base.html" %}
{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>events</title>
	<link rel="stylesheet" type="text/css" href="{% static './Css/events.css' %}">
</head>
<body>
	<section class="msg1">
		<div class="wrapper">
			<h3 class="float msg">we are having issues with our online services right now please bear with us!</h3>
		</div>
		{% for advert in advert%}
		<div class="card1" data-aos="zoom-in" data-aos-duration="1300" data-aos-easing="ease">
			<h3 class="card1-msg"><a class="title" href="{% url 'home:advert' slug=advert.slug %}">{{ advert.first_message }}</a></h3>
		</div>
		{% endfor %}
		<div class="card2">
			<h4 class="card2-msg float">Asia's giant western grant is acquiring mother love 'enteron' and will now be handling her affairs</h4>
		</div>
	</section>
	<section class="msg2">
		<div class="container">
			{% for events in events %}
			<div class="card" data-aos="fade-up-left" data-aos-duration="700" data-aos-easing="ease">
				<img class="card-img" src="{{ events.image.url }}" alt="">
				<div class="wrapper">
					<h4 class="card-msg1"><a class="title" href="{% url 'home:detail' slug=events.slug %}">{{ events.title }}</a></h4>
					<p class="card-msg2">{{ events.story_snippet }}<span><a class="link" href="{% url 'home:detail' slug=events.slug %}"> see more...</a></span></p>
				</div>			
			</div>
			{% endfor %}
		</div>	
	</section>
	<section class="msg3">
		{% for topstory in topstory %}
		<div class="card" data-aos="zoom-in" data-aos-duration="1300" data-aos-easing="ease">
			<h4 class="card-msg"><a href="{% url 'home:topstory' slug=topstory.slug %}" class="title">{{ topstory.snippet }} <span>see more...</span></a></h4>
		</div>
		{% endfor %}
		<h3 class="float msg">No matter the position you are in right now just remember this..."you are the strongest of your form that could ever exist and you will get through this!</h3>
	</section>
	<div class="page-links">
		<span class="step-links">
			{% if events.has_previous %}
				<a href="?page=1">&laquo; first</a>
				<a href="?page={{events.previous_page_number }}">previous</a>
			{% endif %}
			<span class="current">
				page {{ events.number }} of {{ events.paginator.num_pages }}
			</span>
			{% if events.has_next %}
				<a href="?page={{ events.next_page_number }}">next</a>
				<a href="?page={{events.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>
</body>
</html>
{% endblock %}
