{% extends "home/base.html" %}
{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>events</title>
	<link rel="stylesheet" type="text/css" href="{% static './Css/events.css' %}">
</head>
<body>
	<section class="msg1">
		<h3 class="float msg">we are having issues with our online services right now please bear with us!</h3>
		<div class="container">
			<div class="card1" data-aos="fade-up-left" data-aos-duration="700" data-aos-easing="ease">
				<img class="card1-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card1-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card1-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
			<div class="card2" data-aos="fade-up-left" data-aos-duration="700" data-aos-easing="ease">
				<img class="card2-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card2-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card2-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
			<div class="card3">
				<img class="card3-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card3-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card3-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
		</div>
	</section>
	<section class="msg2">
		<div class="card1">
			<h4 class="card1-msg float">Asia's giant western grant is acquiring mother love 'enteron' and will now be handling her affairs</h4>
		</div>
		<div class="card2">
			<h3 class="card2-msg">More from Chusky, we know what to expect every now and then. The best home learning program of the century starting 17th October. </h3>
		</div>
	</section>
	<section class="msg3">
		<div class="container1">
			<div class="card1">
				<img class="card1-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card1-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card1-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
			<div class="card2">
				<img class="card2-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card2-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card2-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
			<div class="card3">
				<img class="card3-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card3-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card3-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
		</div>
		<div class="container2">
			<div class="card1">
				<img class="card1-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card1-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card1-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
			<div class="card2">
				<img class="card2-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card2-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card2-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
			<div class="card3">
				<img class="card3-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card3-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card3-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
		</div>
	</section>
	<section class="msg4">
		<div class="card">
			<h4 class="card-msg">No one was born unlucky! check out the story of Isabel and how her family and her kept to their faith and put in their all to make her what she is today. though her father is late now, she knows deep in her heart that he couldn't be more proud.<br>
				We take this chance to thank you all for your support to what Isabel turned out to be today. She just concluded her professional exams and we are so happy for her. <span>see more...</span></h4>
		</div>
	</section>
	<section class="msg5">
		<div class="container">
			<div class="card1">
				<img class="card1-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card1-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card1-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
			<div class="card2">
				<img class="card2-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card2-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card2-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
			<div class="card3">
				<img class="card3-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card3-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card3-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
		</div>
	</section>
	<section class="msg6">
		<h3 class="float msg">No matter the position you are in right now just remember this..."you are the strongest of your form that could ever exist and you will get through this!</h3>
	</section>
	<section class="msg7">
		<div class="container1">
			<div class="card1">

			</div>
			<div class="card2">

			</div>
		</div>
		<div class="container2">
			<div class="card1">
				<img class="card1-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card1-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card1-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
			<div class="card2">
				<img class="card2-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card2-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card2-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
			<div class="card3">
				<img class="card3-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card3-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card3-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
		</div>
		<div class="container3">
			<div class="card1">

			</div>
			<div class="card2">

			</div>
		</div>
		<div class="container4">
			<div class="card1">
				<img class="card1-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card1-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card1-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
			<div class="card2">
				<img class="card2-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card2-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card2-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
			<div class="card3">
				<img class="card3-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card3-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card3-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
		</div>
		<div class="container5">
			<div class="card1">
				<img class="card1-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card1-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card1-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
			<div class="card2">
				<img class="card2-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card2-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card2-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
			<div class="card3">
				<img class="card3-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card3-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card3-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
		</div>
		<div class="container6">
			<div class="card1">
				<img class="card1-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card1-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card1-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
			<div class="card2">
				<img class="card2-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card2-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card2-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
			<div class="card3">
				<img class="card3-img" src="{% static './images/sample img.jpg' %}" alt="">
				<h4 class="card3-msg1">Lorem ipsum dolor sit amet consectetur</h4>
				<p class="card3-msg2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere odio sapiente voluptatem delectus dolore perferendis tenetur unde! <span>see more...</span></p>
			</div>
		</div>
	</section>
</body>
</html>
{% endblock %}
