{% extends './base.html' %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './Css/profile_feed.css' %}">
    <title>profiles</title>
</head>
<body>
    <section class="grid">
        <div id="search" data-aos="zoom-in" data-aos-duration="1400" data-aos-easing="ease">
            <input id="search-bar" type="text" maxlength="30" placeholder="Search" onkeyup="searchFunction()">
            <img id="search-icon" src="{% static './images/search_icon.png'%}" alt="">
        </div>
        <div class="profile-list">
            <h1 class="no-match">No profiles match your search</h1>
            {% for profiles in profiles %}
            <div class="card1">
                <img src="{{ profiles.profile_photo.url }}" alt=""> 
                <div class="container">
                    <h5 class="name">{{ profiles.first_name }} {{ profiles.last_name }}</h5>
                    <div class="about">
                        <h6 class="about">About:</h6>
                        <p class="about-info">{{ profiles.about_snippet }} <span><a class="link" href="{% url 'home:profile' slug=profiles.slug %}"> see more...</a></span></p>
                    </div>
                </div>
                <p class="date">{{ profiles.date }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
    <script src="{% static './Js/profile_feed.js' %}"></script>
</body>
</html>
{% endblock %}