{% extends './base.html' %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './Css/profile_feed.css' %}">
    <title>profiles</title>
</head>
<body>
    <section class="grid">
        <div class="search-bar" data-aos="zoom-in" data-aos-duration="1400" data-aos-easing="ease">
            <input id="search-bar" type="text" maxlength="30" placeholder="Search">
            <img id="search-icon" src="{% static './images/search_icon.png'%}" alt="">
        </div>
        {% for profiles in profiles %}
        <div class="card1" data-aos="fade-left" data-aos-duration="1100" data-aos-easing="ease">
            <img src="{{ profiles.profile_photo.url }}" alt=""> 
            <div class="container">
                <h5 class="name">{{ profiles.first_name }} {{ profiles.last_name }}</h5>
                <div class="about">
                    <h6 class="about">About:</h6>
                    <p class="about-info">{{ profiles.about_snippet }} <span>see more...</span></p>
                </div>
            </div>
            <p class="date">{{ profiles.date }}</p>
        </div>
        {% endfor %}
    </section>
</body>
</html>
{% endblock %}