{% extends './base.html' %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>details</title>
	<link rel="stylesheet" type="text/css" href="{% static './Css/story.css' %}">
</head>
<body>
	<section class="msg">
		<div class="title-card" data-aos="fade-left" data-aos-duration="800" data-aos-easing="ease"><h4 class="card-msg1">{{ story.title }}</h4></div> 
		<div class="container1" data-aos="fade-left" data-aos-duration="1100" data-aos-easing="ease">
			<div class="card">
				<img class="card-img" src="{{ story.image.url }}" alt="">
				<p class="card-msg2">{{ story.story }}
				</p>
			</div>
		</div>
	</section>
</body>
</html>
{% endblock %}