a.link{
	color: #161717;
}
a.title{
    color: #2699FB;
}
div.page-links{
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}
div.page-links span.step-links{
	border: solid #2699FB 1px;
	white-space: nowrap;
}
div.page-links span.step-links a{
	color: #2699FB;
	padding: 19px;
}
div.page-links span.step-links span.current{
	color: #1732a5;
    padding: 5px;
}
/* first section; white background, a float message and three cards each containing images and text */
section.msg1 div.wrapper{
    background-color: #2699FB;
}
section.msg1 h3.float.msg{
    color: #26FB9F;
    padding-top: 40px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 500;
    white-space: nowrap;
    padding-bottom: 20px;
}
section.msg1 div.card1{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 860px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 20px;
	border: solid 1px #837f7f;
	box-shadow: 2px 5px 3px #beb4b4;
}
section.msg1 div.card1 h3.card1-msg{
    text-align: center;
    padding: 40px;
    font-size: 1.3em;
    color: #2699FB;
    width: 530px;
    font-weight: 500;
}
section.msg1 div.card2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 900px;
    height: 40px;
	border: solid 1px #837f7f;
	box-shadow: 2px 5px 3px #beb4b4;
}
section.msg1 div.card2 h4.card2-msg.float{
    margin-top: 10px;
    color: #2699FB;
    font-weight: 500;
}
/* second section; white background, two cards each containing text and a text area */
section.msg2{
    display: flex;
    flex-flow: column;
    margin-top: 50px;
}
section.msg2 div.container{
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-bottom: 20px;
}
section.msg2 div.container div.card{
    background-color: #ffffff;
    border-radius: 25px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    padding-bottom: 5px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row-reverse; 
	border: solid 1px #837f7f;
	box-shadow: 2px 5px 3px #beb4b4;
}
section.msg2 div.container div.card div.wrapper{
    display: flex;
    flex-flow: column;
    height: 62%;
    margin: auto;
    margin-left: 2%;
    border-left: solid 2px #837f7f;
    border-bottom: solid 2px #837f7f;
    padding: 2%;
    border-radius: 10px;
}
section.msg2 div.container div.card img.card-img{
    width: 200px;
    height: 70%;
    border-radius: 20px;
    margin: auto;
    margin-right: 2%;
    margin-left: 2%;
}
section.msg2 div.container div.card h4.card-msg1{
    color: #2699FB;
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: solid 2px #837f7f;
}
section.msg2 div.container div.card p.card-msg2{
    font-size: 1.05em;
    padding-top: 20px;
}
section.msg2 div.container div.card p.card-msg2 span{
    font-size: 0.9em;
    color: #c0c0c0;
}
/* third section; white background, six cards each containing an image, and text */
section.msg3 div.card{
    display: flex;
    justify-content: center;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 20px;
	border: solid 1px #837f7f;
	box-shadow: 2px 5px 3px #beb4b4;
}
section.msg3 div.card h4.card-msg{
    text-align: center;
    margin-top: 15px;
    font-size: 1.3em;
    color: #2699FB;
    width: 750px;
    font-weight: 500;
}
section.msg3 div.card h4.card-msg span{
    font-size: 0.9em;
    color: #c0c0c0;
}
section.msg3 h3.float.msg{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #2699FB;
    text-align: center;
    white-space: nowrap;
    animation-name: float;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
/* media queries */
@media only screen and (max-width: 1000px){
	/* first section; white background, a float message and three cards each containing images and text */
    section.msg1 h3.float.msg{
        animation-name: float-2;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    section.msg1 div.card2{
        animation-name: float-2;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
}
@media only screen and (max-width: 960px){
    /* first section; white background, a float message and three cards each containing images and text */
    section.msg1 div.card1{
        width: 90%;
        padding: 2.5%;
    }
    /* second section; white background, two cards each containing text */
    section.msg2 div.container{
        width: 95%;
    }
    section.msg2 div.container div.card{
        width: 100%;
    }
    section.msg2 div.container div.card div.wrapper{
    	height: 72%;
    }
    /* third section; white background, six cards each containing an image, and text */
    section.msg3 div.card{
        width: 92%;
        padding: 10px;
    } 
}
@media only screen and (max-width: 800px){
    /* second section; white background, two cards each containing text */
    section.msg2 div.container div.card{
        height: 210px;
    }
    section.msg2 div.container div.card div.wrapper{
    	height: 70%;
    }
    section.msg2 div.container div.card img.card-img{
		width: 180px;
		height: 65%;
    }
    /* fourth section; white background, one card containing text */
    section.msg4 div.card{
        width: 95%;
    }
}
@media only screen and (max-width: 670px){
    /* second section; white background, two cards each containing text */
	section.msg2 div.container div.card img.card-img{
        width: 155px;
        height: 60%;
	}
    section.msg2 div.card2 h3.card2-msg{
        width: 95%;
    }
    /* third section; dark blue background, six cards each containing an image, and text */
    section.msg3 div.card{
        width: 90%;
        padding: 2.5%;
    }
}
@media only screen and (max-width: 580px){
	/* first section; dark blue background, a float message and three cards each containing images and text */
    section.msg1{
        display: flex;
        flex-flow: column;
    }
    section.msg1 h3.float.msg{
        padding-top: 10px;
        padding-left: 10px;
        font-size: 1.2em;
        white-space: nowrap;
    }
    section.msg1 div.card1 h3.card1-msg{
		font-size: 1.1em;
		padding: 20px;
	}
    /* second section; white background, two cards each containing text */
    section.msg2 div.container div.card{
        height: 170px;
	}
	section.msg2 div.container div.card img.card-img{
        height: 70%;
	}
	section.msg2 div.container div.card div.wrapper{
        height: 80%;
	}
	section.msg2 div.container div.card h4.card-msg1{
        font-size: 1.05em;
        padding-top: 0px;
        padding-bottom: 3px;
	}
	section.msg2 div.container div.card p.card-msg2{
        font-size: 0.9em;
        padding-top: 8px;
	}
    /* third section; white, six cards each containing an image, and text */
    section.msg3 div.card{
        width: 90%;
    }
    section.msg3 div.card h4.card-msg{
        font-size: 1.1em;
    }
}
@media only screen and (max-width: 460px){
	/* second section; white background, two cards each containing text */
    section.msg2 div.container div.card{
        height: 150px;
	}
	section.msg2 div.container div.card img.card-img{
        width: 120px;
        height: 60%;
	}
	section.msg2 div.container div.card h4.card-msg1{
        font-size: 0.85em;
	}
	section.msg2 div.container div.card p.card-msg2{
        font-size: 0.7em;
	}

}
@media only screen and (max-width: 340px){	
	section.msg2 div.container div.card img.card-img{
        width: 90px;
        height: 55%;
	}
	div.page-links span.step-links a{
		padding: 13px;
	}
}
@media only screen and (max-width: 300px){
    /* second section; white background, two cards each containing text */
	section.msg2 div.container div.card{
        height: 190px;
	}
	section.msg2 div.container div.card h4.card-msg1{
        padding-bottom: 5px;
	}
    /* third section; dark blue background, six cards each containing an image, and text */
    section.msg3 div.card h4.card-msg{
        font-size: 1.1em;
    }	
	div.page-links span.step-links a{
		padding: 7px;
    }
}
@media only screen and (max-width: 260px){
    section.msg1 div.card1 h3.card1-msg{
    	font-size: 1.0em;
    	padding: 12px;
    }
    /* second section; white background, two cards each containing text */
	section.msg2 div.container div.card{
        height: 220px;
	}
	/* fourth section; white background, one card containing text */
    section.msg3 div.card h4.card-msg{
        font-size: 1.0em;
    }
	div.page-links span.step-links a{
		padding: 5px;
    }
}
@keyframes float {
    from{
        transform: translateX(101%);
    }
    to{
        transform: translateX(-1400px);
    }
}
@keyframes float-2 {
    from{
        transform: translateX(101%);
    }
    to{
        transform: translateX(-1050px);
    }
}