/* first section; white background, a float message and three cards each containing images and text */
section.msg1 div.wrapper{
    background-color: #2699FB;
}
section.msg1 h3.float.msg{
    color: #26FB9F;
    padding-top: 40px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 500;
    white-space: nowrap;
    padding-bottom: 20px;
}
section.msg1 div.card1{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    height: 160px;
	border: solid 1px #837f7f;
	box-shadow: 2px 5px 3px #beb4b4;
}
section.msg1 div.card1 h3.card1-msg{
    text-align: center;
    padding: 40px;
    font-size: 1.3em;
    color: #2699FB;
    width: 530px;
    font-weight: 500;
}
section.msg1 div.card2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 900px;
    height: 40px;
	border: solid 1px #837f7f;
	box-shadow: 2px 5px 3px #beb4b4;
}
section.msg1 div.card2 h4.card2-msg.float{
    margin-top: 10px;
    color: #2699FB;
    font-weight: 500;
}
/* second section; white background, two cards each containing text and a text area */
section.msg2{
    display: flex;
    flex-flow: column;
    margin-top: 50px;
    margin-bottom: 50px;
}
section.msg2 div.container{
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-bottom: 20px;
}
section.msg2 div.container div.card{
    background-color: #ffffff;
    border-radius: 15px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row-reverse; 
	border: solid 1px #837f7f;
	box-shadow: 2px 5px 3px #beb4b4;
}
section.msg2 div.container div.card div.wrapper{
    display: flex;
    flex-flow: column;
    height: 62%;
    margin: auto;
    margin-left: 2%;
    border-left: solid 2px #837f7f;
    border-bottom: solid 2px #837f7f;
    padding: 2%;
    border-radius: 10px;
}
section.msg2 div.container div.card img.card-img{
    width: 50%;
    height: 70%;
    border-radius: 20px;
    margin: auto;
    margin-right: 2%;
    margin-left: 2%;
}
section.msg2 div.container div.card h4.card-msg1{
    color: #2699FB;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 2px #837f7f;
}
section.msg2 div.container div.card p.card-msg2{
    font-size: 1.3em;
    padding-top: 20px;
}
section.msg2 div.container div.card p.card-msg2 span{
    font-size: 0.9em;
    color: #c0c0c0;
}
/* third section; white background, six cards each containing an image, and text */
section.msg3{
    margin-top: 20px;
}
section.msg3 div.card{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    height: 200px;
	border: solid 1px #837f7f;
	box-shadow: 2px 5px 3px #beb4b4;
}
section.msg3 div.card h4.card-msg{
    text-align: center;
    margin-top: 15px;
    font-size: 1.3em;
    color: #2699FB;
    width: 750px;
    font-weight: 500;
}
section.msg3 div.card h4.card-msg span{
    font-size: 0.9em;
    color: #c0c0c0;
}
section.msg3 h3.float.msg{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #2699FB;
    text-align: center;
    white-space: nowrap;
    animation-name: float;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
/* media queries */
@media only screen and (max-width: 1000px){
	/* first section; white background, a float message and three cards each containing images and text */
    section.msg1 h3.float.msg{
        animation-name: float-2;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    section.msg1 div.card2{
        animation-name: float-2;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
}
@media only screen and (max-width: 960px){
    /* first section; white background, a float message and three cards each containing images and text */
    section.msg1 div.card1{
        width: 95%;
    }
    /* second section; white background, two cards each containing text */
    section.msg2 div.container{
        width: 95%;
    }
    section.msg2 div.container div.card{
        width: 100%;
        height: 300px;
    }
    section.msg2 div.container div.card div.wrapper{
    	height: 72%;
    }
    /* third section; white background, six cards each containing an image, and text */
    section.msg3 div.card{
        width: 92%;
        padding: 10px;
    } 
}
@media only screen and (max-width: 800px){
    /* second section; white background, two cards each containing text */
    section.msg2 div.container div.card{
        height: 350px;
    }
    section.msg2 div.container div.card div.wrapper{
    	height: 70%;
    }
    section.msg2 div.container div.card img.card-img{
		width: 40%;
		height: 60%;
    }
    section.msg2 div.container div.card h4.card-msg1{
		font-size: 1.3em;
    }

	section.msg2 div.container div.card p.card-msg2{
		font-size: 1.2em;
	}
    /* fourth section; white background, one card containing text */
    section.msg4 div.card{
        width: 95%;
    }
}
@media only screen and (max-width: 670px){
    /* first section; dark blue background, a float message and three cards each containing images and text */
    section.msg1 div.container div.card img.card-img{
        height: 150px;
    }
    /* second section; white background, two cards each containing text */
    section.msg2 div.card2 h3.card2-msg{
        width: 95%;
    }
    /* third section; dark blue background, six cards each containing an image, and text */
    section.msg3 div.card{
        width: 95%;
        height: 300px;
    }
}
@media only screen and (max-width: 580px){
	/* first section; dark blue background, a float message and three cards each containing images and text */
    section.msg1{
        display: flex;
        flex-flow: column;
    }
    section.msg1 h3.float.msg{
        padding-top: 10px;
        padding-left: 10px;
        font-size: 1.2em;
        white-space: nowrap;
    }
    section.msg1 div.card1{
        margin-top: 30px;
        margin-left: 5%;
        width: 90%;
        max-height: 200px;
        display: flex;
        justify-content: center;
    }
    section.msg1 div.card1 h3.card1-msg{
		font-size: 1.1em;
		padding: 20px;
	}
    /* second section; white background, two cards each containing text */
    section.msg2 div.container div.card{
        height: 140px;
	}
	section.msg2 div.container div.card img.card-img{
        width: 35%;
        height: 50%;
	}
	section.msg2 div.container div.card div.wrapper{
        height: 80%;
	}
	section.msg2 div.container div.card h4.card-msg1{
        font-size: 0.7em;
        padding-bottom: 5px;
	}
	section.msg2 div.container div.card p.card-msg2{
        font-size: 0.55em;
        padding-top: 10px;
	}
    /* third section; white, six cards each containing an image, and text */
    section.msg3 div.card{
        width: 90%;
        height: 360px;
    }
    section.msg3 div.card h4.card-msg{
        font-size: 1.1em;
    }
}
@media only screen and (max-width: 300px){
	/* first section; dark blue background, a float message and three cards each containing images and text */
    section.msg1 div.card1{
        height: 340px;
    }
    /* second section; white background, two cards each containing text */
    section.msg2 div.card2{
        height: 200px;
    }
	section.msg2 div.container div.card{
        height: 180px;
	}
	section.msg2 div.container div.card h4.card-msg1{
        padding-bottom: 10px;
	}
    /* third section; dark blue background, six cards each containing an image, and text */
    section.msg3 div.card{
        height: 440px;
    }
    section.msg3 div.card h4.card-msg{
        font-size: 1.1em;
    }
}
@media only screen and (max-width: 260px){
	/* first section; dark blue background, a float message and three cards each containing images and text */
    section.msg1 div.card1{
        height: 380px;
    }
    section.msg1 div.card1 h3.card1-msg{
    	font-size: 1.0em;
    	padding: 12px;
    }
    /* second section; white background, two cards each containing text */
    section.msg2 div.card2{
        padding-bottom: 30px;
    }
	/* fourth section; white background, one card containing text */
    section.msg3 div.card{
        height: 360px;
    }
    section.msg3 div.card h4.card-msg{
        font-size: 1.0em;
    }
}
@keyframes float {
    from{
        transform: translateX(101%);
    }
    to{
        transform: translateX(-1400px);
    }
}
@keyframes float-2 {
    from{
        transform: translateX(101%);
    }
    to{
        transform: translateX(-1050px);
    }
}