/* first section; page banner, a card and an image */
section.banner{
	background: url("/static/images/Earth_Diffuse_6K.png") 100% 0 no-repeat;
	background-size: cover;
	height: 550px;
}
section.banner div.container{
	display: flex;
	flex-flow: row-reverse;
}
section.banner div.container figure.banner-img img.img1{
	width: 445px;
	height: 450px;
	position: relative;
	right: 35.6%;
	top: 168px;
}
section.banner div.container div.banner-msg{
	border-radius: 20px;
	width: 288px;
	height: 150px;
	font-family: Arial;
	position: relative;
	right: 24%;
	top: 190px;
	background-color: rgba(255, 255, 255, 0.3);
}
section.banner div.container div.banner-msg h2{	
	color: #ffffff;
	padding: 23px;
	text-align: center;
}
section.banner div.container div.banner-msg p{
	color: #ffffff;
	padding-top: 0;
	padding: 15px;
	text-align: center;
}
/* second section; white background, a card and an image */
section.msg1{
	display: flex;
	flex-flow: column;
	justify-content: center;
}
section.msg1 div.container{
	display: flex;
	border: solid 1px #837f7f;
	border-radius: 40px;
	box-shadow: 3px 9px 3px #beb4b4;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
	width: 900px;
	height: 155px;
	font-family: arial;
}
section.msg1 div.container figure.msg1-img img.img1{
	width: 470px;
	height: 355px;
	position: relative;
	top: -70px;
	margin-left: 40px;
}
section.msg1 div.card{
	border: solid 1px #837f7f;
	color: #2699FB;
	border-radius: 40px;
	box-shadow: 3px 9px 3px #beb4b4;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 120px;
	padding: 40px;
	width: 900px;
	font-family: arial;
}
section.msg1 div.card div.msg2-msg{
	margin: auto;
	width: 80%;
	padding-bottom: 30px;
}
section.msg1 div.container div.msg1-msg{
	width: 550px;
}
section.msg1 div.container div.msg1-msg h2{
	color: #2699FB;
	text-align: center;
}
section.msg1 div.container div.msg1-msg p{
	text-align: center;
	font-size: 0.852em;
	padding-top: 17px;
	line-height: 1.34;
}
/* third section; dark blue background, three cards each containing an image and a final card of text */
section.msg2{
	background-color: #0D0F1E;
	margin-top: 40px;
	height: 640px;
}
section.msg2 div.container{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
section.msg2 div.container1{
	display: flex;
	height: 400px;
	flex-direction: row;
	align-content: center;
	padding-left: 13px;
	font-family: arial;
}
section.msg2 div.container1 div.card1{
	background-color: #ffffff;
	width: 300px;
	height: 270px;
	margin-top: 80px;
	margin-right: 25px;
}
section.msg2 div.container1 div.card1 figure.card1 img.card1-img{
	width: 300px;
	height: 200px;
}
section.msg2 div.container1 div.card1 h2.card1-msg{
	color: #2699FB;
	text-align: center;
	margin: 15px;
	
}
section.msg2 div.container1 div.card2{
	background-color: #ffffff;
	width: 300px;
	height: 270px;
	margin-top: 80px;
	margin-left: 25px;
	margin-right: 25px;
}
section.msg2 div.container1 div.card2 figure.card2 img.card2-img{
	width: 300px;
	height: 200px;
}
section.msg2 div.container1 div.card2 h2.card2-msg{
	color: #2699FB;
	text-align: center;
	margin: 15px;
	
}
section.msg2 div.container1 div.card3{
	background-color: #ffffff;
	width: 300px;
	height: 270px;
	margin-top: 80px;
	margin-left: 25px;
}
section.msg2 div.container1 div.card3 figure.card3 img.card3-img{
	width: 300px;
	height: 200px;
}
section.msg2 div.container1 div.card3 h2.card3-msg{
	color: #2699FB;
	text-align: center;
	margin: 15px;
}
section.msg2 div.container2{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 160px;
	background-color: #ffffff;
	border-radius: 30px;
} 
section.msg2 div.container2 div.msg2-msg{
	font-family: arial;
	width: 500px;
	margin-top: 30px;
	display: inline-flex;
	flex-flow: column;
	align-content: center;
}
section.msg2 div.container2 div.msg2-msg h2.msg1{
	padding-left: 78px;
	text-align: center;
	color: #2699FB;
}
section.msg2 div.container2 div.msg2-msg h2.msg2{
	padding-left: 78px;
	margin-top: 30px;
	text-align: center;
	color: #2699FB;
	line-height: 1.2;
}
/* fourth section; white background, two cards each containing an image each and a final card of text */
section.msg3{
	margin-top: 150px;
}
section.msg3 div.container1{
	display: flex;
	justify-content: center;
}
section.msg3 div.container1 div.card1{
	height: 370px;
	width: 380px;
	margin-right: 50px;
	border: solid 1px #837f7f;
	box-shadow: 3px 9px 3px #beb4b4;
}
section.msg3 div.container1 div.card1 h3.card1-msg{
	color: #2699FB;
	text-align: center;
	margin-top: 25px;
	width: 260px;
	margin-left: auto;
	margin-right: auto;
}
section.msg3 div.container1 div.card1 figure.card1-img picture.img1{
	width: 350px;
	height: 280px;
}
section.msg3 div.container1 div.card1 figure.card1-img img.img1{
	position: relative;
	top: 6px;
	left: 30px;
	width: 350px;
	height: 280px;
}
section.msg3 div.container1 div.card2{
	height: 370px;
	width: 380px;
	margin-left: 50px;
	border: solid 1px #837f7f;
	box-shadow: 3px 9px 3px #beb4b4;
}
section.msg3 div.container1 div.card2 h3.card2-msg{
	color: #2699FB;
	text-align: center;
	margin-top: 25px;
	width: 210px;
	margin-left: auto;
	margin-right: auto;
}
section.msg3 div.container1 div.card2 figure.card2-img picture.img2{
	width: 350px;
	height: 270px;
}
section.msg3 div.container1 div.card2 figure.card2-img img.img2{
	position: relative;
	top: 14px;
	left: 27px;
	width: 350px;
	height: 270px;
}
section.msg3 div.container2{
	margin-top: 140px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #2699FB;
	font-size: 0.98em;
	border: solid 1px #837f7f;
	border-radius: 40px;
	box-shadow: 3px 9px 3px #beb4b4;
	width: 1000px;
	height: 240px;
}
section.msg3 div.container2 div.msg3-msg{
	width: 600px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}
section.msg3 div.container2 div.msg3-msg h3.msg1{
	line-height: 1.3;
}
section.msg3 div.container2 div.msg3-msg h3.msg2{
	padding-top: 40px;
}
/* fifth section; dark blue background, three cards each containing testimonials */
section.msg4{
	margin-top: 60px;
	background-color: #0D0F1E;
	padding-bottom: 100px;
}
section.msg4 div.container{
	padding-top: 100px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 250px;
	text-align: left;
}
section.msg4 div.container div.card1{
	display: flex;
	flex-flow: column;
	width: 300px;
	background-color: #ffffff;
	margin-right: 100px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
section.msg4 div.container div.card1 div.card1-head{
	display: flex;
	background-color: #2699FB;
}
section.msg4 div.container div.card1 div.card1-head figure.user1 img.christine{
	width: 80px;
	height: 50px;
	padding: 12px;
}
section.msg4 div.container div.card1 div.card1-head h6.user1{
	position: relative;
	right: 20px;
	top: 30px;
	color: #ffffff;
}
section.msg4 div.container div.card1 div.card1-body{
	margin: 12px;
	padding: 12px;
	padding-top: 25px;
}
section.msg4 div.container div.card1 div.card1-body h4{
	color: #2699FB;
}
section.msg4 div.container div.card1 div.card1-head h5.online{
	font-weight: 700;
	color: #144084;
	position: relative;
	left: 75px;
	top: 50px;
}
section.msg4 div.container div.card2{
	display: flex;
	flex-flow: column;
	width: 300px;
	background-color: #ffffff;
	margin-left: 100px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
section.msg4 div.container div.card2 div.card2-head{
	display: flex;
	background-color: #2699FB;
}
section.msg4 div.container div.card2 div.card2-head figure.user2 img.alicia{
	width: 60px;
	height: 50px;
	padding: 12px;
	padding-left: 20px;
}
section.msg4 div.container div.card2 div.card2-head h6.user2{
	position: relative;
	left: 5px;
	top: 30px;
	color: #ffffff;
}
section.msg4 div.container div.card2 div.card2-head h5.online{
	font-weight: 700;
	color: #144084;
	position: relative;
	left: 110px;
	top: 50px;
}
section.msg4 div.container div.card2 div.card2-body{
	margin: 12px;
	padding: 12px;
}
section.msg4 div.container div.card2 div.card2-body h4{
	color: #2699FB;
}
section.msg4 div.card3{
	display: block;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
section.msg4 div.card3 picture.testimonials img{
	width: 800px;
}
/* sixth section; white background, two cards each containing an image, a text area located between the cards */
section.msg5{
	margin-top: 60px;
	margin-bottom: 80px;
}
section.msg5 div.container{
	display: flex;
	text-align: center;
	flex-flow: column;
	align-items: center;
}
section.msg5 div.container div.card1{
	display: flex;
	width: 900px; 
	border: solid 1px #837f7f;
	border-radius: 40px;
	box-shadow: 7px 3px 3px #beb4b4;
	height: 231px;
}
section.msg5 div.container div.card1 figure.card1-img picture.img1{
	width: 520px;
	height: 100%;
} 
section.msg5 div.container div.card1 figure.card1-img img.img1{
	width: 520px;
	height: 100%;
}
section.msg5 div.container div.card1 h2.card1-msg{
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 230px;
	color: #2699FB;
	font-size: 1.3em;
}
section.msg5 div.container div.txt-area h2.msg{
	margin-top: 70px;
	color: #2699FB;
	line-height: 1.5;
}
section.msg5 div.container div.card2{
	margin-top: 45px;
	display: flex;
	flex-direction: row-reverse;
	width: 920px; 
	border: solid 1px #837f7f;
	border-radius: 40px;
	box-shadow: 7px 3px 3px #beb4b4;
	height: 231px;
}
section.msg5 div.container div.card2 figure.card2-img picture.img2{
	width: 520px;
	height: 100%;
} 
section.msg5 div.container div.card2 figure.card2-img img.img2{
	width: 520px;
	height: 100%;
	position: relative;
	left: 12px;
}
section.msg5 div.container div.card2 h2.card2-msg{
	margin-top: 30px;
	width: 260px;
	margin-left: auto;
	margin-right: auto;
	color: #2699FB;
	font-size: 1.1em;
}
/* seventh section; dark blue background, one card containing one image */
section.msg6{
	background-color: #0D0F1E;
	display: flex;
	justify-content: center;
	padding-bottom: 80px;
}
section.msg6 div.container{
	display: flex;
	text-align: center;
	flex-flow: column;
	align-items: center;
	background-color: #ffffff;
	border-radius: 40px;
	margin: 100px;
	padding: 40px;
	width: 720px;
	height: 400px;
}
section.msg6 div.container h2.msg{
	color: #2699FB;
	width: 640px;
	font-weight: lighter;
	line-height: 1.3;
}
section.msg6 div.container figure.card-img img.img{
	width: 650px;
	height: 420px;
}
/* footer section; pale blue background, table list of supporters, table of footer notes, email collector */
footer.footer h2.msg1{
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
	color: #ffffff;
}
footer.footer table{
	margin: 0 auto;
}
footer.footer table tr.supporters1 img.ribena{
	width: 230px;
	height: 160px;
	border-radius: 40px;
}
footer.footer table tr.supporters1 img.dominos{
	width: 230px;
	height: 230px;
	position: relative;
	bottom: 20px;
}
footer.footer table tr.supporters1 img.amazon{
	width: 270px;
	height: 160px;
	border-radius: 20px;
}
footer.footer table tr.supporters2 img.swappa{
	width: 290px;
	height: 140px;
}
footer.footer table tr.supporters2 img.uber{
	width: 230px;
	height: 180px;
	margin-left: 40px;
}
footer.footer table tr.supporters2 img.oraimo{
	width: 290px;
	height: 140px;
}
footer.footer table tr.supporters3 img.nike{
	width: 200px;
	height: 110px;
	border-radius: 20px;
}
footer.footer table tr.supporters3 img.cocacola{
	width: 280px;
	height: 300px;
}
footer.footer table tr.supporters3 img.binance{
	width: 200px;
	height: 110px;
	padding-left: 60px;
}
footer.footer table tr.supporters4 img.apple{
	width: 160px;
	height: 150px;
	border-radius: 25px;
}
footer.footer table tr.supporters4 img.smart{
	width: 240px;
	height: 140px;
	border-radius: 30px
}
footer.footer table tr.supporters4 img.paypal{
	width: 240px;
	height: 180px;
	margin-left: 40px;
	border-radius: 25px;
}
/* media queries */
@media only screen and (max-width: 1100px){
	/* second section; white background, a card and an image */
	section.msg1 div.container{
		width: 90%;
	}
	section.msg1 div.card{
		width: 90%;
	}
	/* third section; dark blue background, three cards each containing an image and a final card of text */
	section.msg2 div.container{
		width: 94%;
	}
	section.msg2 div.container1 div.card1{
		width: 30%;
		margin-right: 2%;
	}
	section.msg2 div.container1 div.card1 figure.card1 img.card1-img{
		width: 100%;
		height: 180px;
	}
	section.msg2 div.container1 div.card2{
		width: 30%;
		margin-right: 2%;
	}
	section.msg2 div.container1 div.card2 figure.card2 img.card2-img{
		width: 100%;
		height: 180px;
	}
	section.msg2 div.container1 div.card3{
		width: 30%;
	}
	section.msg2 div.container1 div.card3 figure.card3 img.card3-img{
		width: 100%;
		height: 180px;
	}
	section.msg2 div.container1 div.card3 h2.card3-msg{
		color: #2699FB;
		text-align: center;
		margin: 15px;
	}
	/* third section; dark blue background, three cards each containing an image and a final card of text */
	section.msg2 div.container{
		margin-left: 2%;
		margin-right: 0;
		width: 90%;
	}
}
@media only screen and (max-width: 1000px){
	/* second section; white background, a card and an image */
	section.msg1 div.container{
		width: 800px;
		height: 185px;
	}
	section.msg1 div.container figure.msg1-img img.img1{
		position: relative;
		top: -40px;
	}
	section.msg1 div.card{
		width: 800px;
	}
	/* third section; dark blue background, three cards each containing an image and a final card of text */
	section.msg2 div.container{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 900px;
	}
	section.msg2 div.container1 div.card1{
		width: 260px;
	}
	section.msg2 div.container1 div.card1 figure.card1 img.card1-img{
		width: 260px;
	}
	section.msg2 div.container1 div.card2{
		width: 260px;
	}
	section.msg2 div.container1 div.card2 figure.card2 img.card2-img{
		width: 260px;
	}
	section.msg2 div.container1 div.card3{
		width: 260px;
	}
	section.msg2 div.container1 div.card3 figure.card3 img.card3-img{
		width: 260px;
	}
	/* fourth section; white background, two cards each containing an image each and a final card of text */
	section.msg3 div.container2{
		width: 800px;
	}
	section.msg3 div.container2 div.msg3-msg{
		width: 600px;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media only screen and (max-width: 920px){
	/* first section; page banner, a card and an image */
	section.banner div.container figure.banner-img img.img1{
		width: 445px;
		height: 450px;
		position: relative;
		right: 35.6%;
		top: 168px;
	}
	section.banner div.container div.banner-msg{
		position: relative;
		right: 15%;
	}
	section.banner div.container div.banner-msg p{
		color: #ffffff;
		width: 100%;
		padding: 0;
		text-align: center;
	}
	/* second section; white background, a card and an image */
	section.msg1 div.container{
		width: 750px;
		height: 250px;
	}
	section.msg1 div.container figure.msg1-img img.img1{
		width: 470px;
		height: 355px;
		position: relative;
		top: 20px;
		left: 30px;
		margin-left: 0;
	}
	section.msg1 div.card{
		width: 750px;
		height: 120px;
	}
	section.msg1 div.container div.msg1-msg{
		width: 750px;
	}
	/* third section; dark blue background, three cards each containing an image and a final card of text */
	section.msg2 div.container{
		width: 850px;
	}
	section.msg2 div.container1 div.card1{
		width: 240px;
		height: 250px;
		margin-right: 15px;
	}
	section.msg2 div.container1 div.card1 figure.card1 img.card1-img{
		width: 240px;
		height: 170px;
	}
	section.msg2 div.container1 div.card2{
		width: 240px;
		height: 250px;
		margin-right: 15px;
	}
	section.msg2 div.container1 div.card2 figure.card2 img.card2-img{
		width: 240px;
		height: 170px;
	}
	section.msg2 div.container1 div.card3{
		width: 240px;
		height: 250px;
		margin-right: 15px;
	}
	section.msg2 div.container1 div.card3 figure.card3 img.card3-img{
		width: 240px;
		height: 170px;
	}
	/* fourth section; white background, two cards each containing an image each and a final card of text */
	section.msg3{
		margin-top: 100px;
	}
	section.msg3 div.container1 div.card1{
		height: 350px;
		width: 340px;
		margin-right: 40px;
	}
	section.msg3 div.container1 div.card1 h3.card1-msg{
		width: 200px;
	}
	section.msg3 div.container1 div.card1 figure.card1-img img.img1{
		width: 360px;
		height: 240px;
	}
	section.msg3 div.container1 div.card2{
		height: 350px;
		width: 340px;
		margin-right: 40px;
	}
	section.msg3 div.container1 div.card2 h3.card2-msg{
		width: 200px;
	}
	section.msg3 div.container1 div.card2 figure.card2-img img.img2{
		left: 0px;
		width:360px;
		height: 230px;
	}
	section.msg3 div.container2{
		width: 700px;
		height: 270px;
	}
	/* fifth section; dark blue background, three cards each containing testimonials */
	section.msg4 div.container{
		padding-top: 100px;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 700px;
		height: 320px;
		text-align: left;
	}
	section.msg4 div.container div.card1{
		height: 100%;
		margin-right: 30px;
	}
	section.msg4 div.container div.card2{
		height: 100%;
		margin-left: 30px;
	}
	section.msg4 div.card3{
		width: 700px;
	}
	section.msg4 div.card3 picture.testimonials img{
		width: 650px;
	}
	/* sixth section; white background, two cards each containing an image, a text area located between the cards */
	section.msg5 div.container div.card1{
		width: 700px;
		height: 260px;
	} 
	section.msg5 div.container div.card1 figure.card1-img img.img1{
		width: 500px;
	}
	section.msg5 div.container div.card1 h2.card1-msg{
		width: 150px;
	}
	section.msg5 div.container div.card2{
		width: 700px;
		height: 290px;
	} 
	section.msg5 div.container div.card2 figure.card2-img img.img2{
		width: 500px;
	}
	section.msg5 div.container div.card2 h2.card2-msg{
		width: 300px;
		font-size: 1.05em;
		padding-left: 5px;
	}
}
@media only screen and (max-width: 860px){
	/* first section; page banner, a card and an image */
	section.banner div.container figure.banner-img img.img1{
		right: 15.6%;
	}
	section.banner div.container div.banner-msg{
		right: 5%;
	}
	/* second section; white background, a card and an image */
	section.msg1 div.container{
		width: 600px;
		height: 300px;
	}
    section.msg1 div.container figure.msg1-img{
    	width: 200px;
    }	
	section.msg1 div.container figure.msg1-img img.img1{
		width: 400px;
		height: 325px;
		position: relative;
		top: 90px;
		left: -120px;
	}
	section.msg1 div.container div.msg1-msg{
		width: 550px;
	}
	section.msg1 div.container div.msg1-msg h2{
		color: #2699FB;
		text-align: center;
	}
	section.msg1 div.container div.msg1-msg p{
		text-align: center;
		font-size: 0.852em;
		padding-top: 17px;
		line-height: 1.34;
	}
	section.msg1 div.card{
		width: 600px;
		height: 150px;
	}
	/* third section; dark blue background, three cards each containing an image and a final card of text */
	section.msg2 div.container{
		width: 700px;
	}
	section.msg2 div.container1 div.card1{
		width: 200px;
		height: 220px;
		margin-right: 10px;
	}
	section.msg2 div.container1 div.card1 figure.card1 img.card1-img{
		width: 200px;
		height: 160px;
	}
	section.msg2 div.container1 div.card1 h2.card1-msg{
		margin-top: 5px;
		font-size: 1.2em;
	}
	section.msg2 div.container1 div.card2{
		width: 200px;
		height: 220px;
		margin-right: 10px;
	}
	section.msg2 div.container1 div.card2 figure.card2 img.card2-img{
		width: 200px;
		height: 160px;
	}
	section.msg2 div.container1 div.card2 h2.card2-msg{
		font-size: 1.2em;
	}
	section.msg2 div.container1 div.card3{
		width: 200px;
		height: 220px;
		margin-right: 10px;
	}
	section.msg2 div.container1 div.card3 figure.card3 img.card3-img{
		width: 200px;
		height: 160px;
	}
	section.msg2 div.container1 div.card3 h2.card3-msg{
        font-size: 1.2em;
	}
	/* fourth section; white background, two cards each containing an image each and a final card of text */
	section.msg3{
		margin-top: 80px;
	}
	section.msg3 div.container1{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	section.msg3 div.container1 div.card1{
		height: 350px;
		width: 42%;
		margin-right: 3%;
	}
	section.msg3 div.container1 div.card2{
		margin-left: 3%;
		width: 42%;
	}
	section.msg3 div.container2{
		width: 90%;
		height: 270px;
	}
	/* fifth section; dark blue background, three cards each containing testimonials */
	section.msg4 div.container{
		padding-top: 80px;
		display: flex;
		width: 90%;
	}
	section.msg4 div.container div.card1{
		height: 100%;
		width: 42%;
		margin-right: 3%;
	}
	section.msg4 div.container div.card2{
		height: 100%;
		width: 42%;
		margin-right: 3%;
	}
	section.msg4 div.card3{
		width: 90%;
	}
	section.msg4 div.card3 picture.testimonials img{
		width: 90%;
	}
	/* footer section; pale blue background, table list of supporters, table of footer notes, email collector */
	footer.footer table{
	margin: 0 auto;
	}
	footer.footer table tr.supporters1 img.ribena{
		width: 200px;
		border-radius: 50px;
	}
	footer.footer table tr.supporters1 img.dominos{
		width: 200px;
		height: 200px;
	}
	footer.footer table tr.supporters1 img.amazon{
		width: 230px;
		height: 150px;
	}
	footer.footer table tr.supporters2 img.swappa{
		width: 250px;
	}
	footer.footer table tr.supporters2 img.uber{
		width: 200px;
		height: 170px;
		margin-left: 0px;
	}
	footer.footer table tr.supporters2 img.oraimo{
		width: 250px;
		margin-left: -20px;
	}
	footer.footer table tr.supporters3 img.cocacola{
		width: 270px;
		height: 290px;
		margin-left: -10px;
	}
	footer.footer table tr.supporters3 img.binance{
		width: 190px;
		height: 105px;
		padding-left: 30px;
	}
	footer.footer table tr.supporters4 img.smart{
		margin-left: -10px;
	}
	footer.footer table tr.supporters4 img.paypal{
		width: 220px;
		height: 170px;
		margin-left: 20px;
	}
} 
@media only screen and (max-width: 790px){
	/* first section; page banner, a card and an image */
	section.banner div.container div.banner-msg{
		right: -5%;
	}
	/* fourth section; white background, two cards each containing an image each and a final card of text */
	section.msg3 div.container1 div.card1 figure.card1-img img.img1{
		left: -40px;
	}
	section.msg3 div.container1 div.card2 figure.card2-img img.img2{
		left: -40px;
		width: 350px;
		height: 230px;
	}
	section.msg3 div.container2 div.msg3-msg{
		width: 90%;
	}
	/* fifth section; dark blue background, three cards each containing testimonials */
	section.msg4{
		padding-bottom: 80px;
	}
	section.msg4 div.container{
		width: 90%;
		height: 300px;
	}
	section.msg4 div.container div.card1{
		width: 43%;
		margin-right: 3%;
	}
	section.msg4 div.container div.card1 div.card1-head h5.online{
		position: relative;
		left: 10%;
	}
	section.msg4 div.container div.card2{
		width: 43%;
		margin-left: 3%;
	}
	section.msg4 div.container div.card2 div.card2-head h5.online{
		position: relative;
		left: 30%;
 	}
	/* sixth section; white background, two cards each containing an image, a text area located between the cards */
	section.msg5{
		margin-bottom: 60px;
	}
	section.msg5 div.container div.card1{
		width: 90%;
	}
	section.msg5 div.container div.card1 figure.card1-img{
		width: 80%;
	} 
	section.msg5 div.container div.card1 figure.card1-img img.img1{
		width: 100%;
	}
	section.msg5 div.container div.card1 h2.card1-msg{
		margin-top: 50px;
		width: 30%;
	}
	section.msg5 div.container div.card2{
		width: 90%;
	}
	section.msg5 div.container div.card2 figure.card2-img{
		width: 80%;
	} 
	section.msg5 div.container div.card2 figure.card2-img img.img2{
		width: 100%;
	} 
	/* seventh section; dark blue background, one card containing one image */
	section.msg6 div.container{
		margin-top: 100px;
		margin-bottom: 150px;
		margin-left: auto;
		margin-right: auto;
		padding: 40px;
		width: 80%;
	}
	section.msg6 div.container h2.msg{
		width: 95%;
	}
	section.msg6 div.container figure.card-img img.img{
		width: 110%;
	}
	/* footer section; pale blue background, table list of supporters, table of footer notes, email collector */
	footer.footer table{
		margin: 0 auto;
		width: 90%;
	}
	footer.footer table tr.supporters1 img.ribena{
		width: 70%;
		height: 60%;
	}
	footer.footer table tr.supporters1 img.dominos{
		width: 80%;
		height: 80%;
	}
	footer.footer table tr.supporters1 img.amazon{
		width: 80%;
		height: 100%;
	}
	footer.footer table tr.supporters2 img.swappa{
		width: 100%;
		height: 140px;
	}
	footer.footer table tr.supporters2 img.uber{
		width: 90%;
		height: 160px;
		margin-left: 0px;
	}
	footer.footer table tr.supporters2 img.oraimo{
		width: 90%;
		height: 100%;
	}
	footer.footer table tr.supporters3 img.nike{
		width: 100%;
		height: 100%;
	}
	footer.footer table tr.supporters3 img.cocacola{
		width: 100%;
		height: 100%;
	}
	footer.footer table tr.supporters3 img.binance{
		width: 60%;
		height: 100%;
		padding-left: 30px;
	}
	footer.footer table tr.supporters4 img.apple{
		width: 160px;
	}
	footer.footer table tr.supporters4 img.smart{
		width: 240px;
		height: 140px;
		margin-left: 20px;
	}
	footer.footer table tr.supporters4 img.paypal{
		width: 200px;
		height: 170px;
		margin-left: 20px;
	}
}
@media only screen and (max-width: 710px){
    /* first section; page banner, a card and an image */
	section.banner div.container figure.banner-img img.img1{
		right: 1%;
	}
	section.banner div.container div.banner-msg{
		width: 400px;
		top: 100px;
		height: 250px;
	}
	/* second section; white background, a card and an image */
	section.msg1 div.container{
		width: 80%;
		height: 300px;
	}
	section.msg1 div.container figure.msg1-img img.img1{
		position: relative;
		top: 120px;
	}
	section.msg1 div.card{
		width: 80%;
		height: 170px;
		margin-bottom: 60px;
	}
	/* third section; dark blue background, three cards each containing an image and a final card of text */
	section.msg2 div.container{
		width: 90%;
	}
	section.msg2 div.container1 div.card1{
		width: 28%;
		height: 180px;
		margin-right: 5px;
	}
	section.msg2 div.container1 div.card1 figure.card1 img.card1-img{
		width: 100%;
		height: 130px;
	}
	section.msg2 div.container1 div.card1 h2.card1-msg{
		margin-top: 2px;
		font-size: 1.0em;
	}
	section.msg2 div.container1 div.card2{
		width: 28%;
		height: 180px;
		margin-right: 5px;
	}
	section.msg2 div.container1 div.card2 figure.card2 img.card2-img{
		width: 100%;
		height: 130px;
	}
	section.msg2 div.container1 div.card2 h2.card2-msg{
		font-size: 1.0em;
	}
	section.msg2 div.container1 div.card3{
		width: 28%;
		height: 180px;
		margin-right: 5px;
	}
	section.msg2 div.container1 div.card3 figure.card3 img.card3-img{
		width: 100%;
		height: 130px;
	}
	section.msg2 div.container1 div.card3 h2.card3-msg{
        font-size: 1.0em;
	}
	section.msg2 div.container2{
		width: 90%;
	} 
	section.msg2 div.container2 div.msg2-msg{
		width: 100%;
	}
	section.msg2 div.container2 div.msg2-msg h2.msg1{
		padding-left: 0px;
	}
	section.msg2 div.container2 div.msg2-msg h2.msg2{
		padding-left: 0px;
	}
	/* fourth section; white background, two cards each containing an image each and a final card of text */
	section.msg3 div.container1{
		width: 94%;
		margin-left: auto;
		margin-right: auto;
	}
	section.msg3 div.container1 div.card1{
		height: 350px;
		width: 48%;
		margin-left: auto;
		margin-right: auto;
	}
	section.msg3 div.container1 div.card2{
		margin-left: auto;
		margin-right: auto;
		width: 48%;
	}
	section.msg3 div.container2{
		width: 90%;
		height: 270px;
	}
}
@media only screen and (max-width: 620px){
	/* first section; page banner, a card and an image */
    section.banner{
    	background-size: 100% 450px;
    	height: 480px;
    }
    section.banner div.container{
    	width: 100%;
    	display: flex;
    	flex-flow: column-reverse;
    }
    section.banner div.container div.banner-msg{
    	display: flex;
    	justify-content: center;
		border-radius: 35px;
		position:absolute;
		height: 220px;
		width: 60%;
		font-family: Arial;
		top: 160px;
		left: 10%; 
	}
	section.banner div.container div.banner-msg div.container{
		display: flex;
		flex-flow: column;
		width: 90%;
	}
	section.banner div.container div.banner-msg div.container h2{
		text-align: center;
		font-size: 1.5em;
		padding: 23px;
	}
    section.banner div.container figure.banner-img img.img1{
		width: 70%;
		height: 320px;
		position: relative;
		top: 180px;
		right: 0px;
	}
	/* second section; white background, a card and an image */
	section.msg1 div.container{
		margin: 0px;
		padding-top: 3px;
		width: 70%;
		height: 400px;
		position: relative;
		top: 0px;
		left: 3%;
		display: flex;
		flex-flow: column;
	}
	section.msg1 figure.msg1-img{
		width: 100%;
		height: 0;
		margin-left: auto;
		margin-right: auto;
	}
	section.msg1 figure.msg1-img img.img1{
		height: 365px;
		margin-top: -120px;
	}
	section.msg1 div.container div.msg1-msg{
		width: 100%;
		padding-top: 25px;
	}
	section.msg1 div.container div.msg1-msg p{
		line-height: 1.5;
	}
	section.msg1 div.card{
		padding-bottom: 80px;
	}
	/* fourth section; white background, two cards each containing an image each and a final card of text */
	section.msg3 div.container1 div.card1 figure.card1-img img.img1{
		width: 320px;
	}
	/* fifth section; dark blue background, three cards each containing testimonials */
	section.msg4 div.container{
		height: 350px;
	}
	section.msg4 div.container div.card1 div.card1-head h5.online{
		left: 2px;
	}
	section.msg4 div.container div.card2 div.card2-head h5.online{
		left: 28px;
	}
	/* seventh section; dark blue background, one card containing one image */
	section.msg6 div.container figure.card-img img.img{
		width: 110%;
		height: 300px;
	}
	/* footer section; pale blue background, table list of supporters, table of footer notes, email collector */
	footer.footer table tr.supporters1 img.dominos{
		width: 70%;
		height: 70%;
	}
	footer.footer table tr.supporters1 img.amazon{
		width: 80%;
		height: 100%;
	}
	footer.footer table tr.supporters2 img.swappa{
		height: 120px;
	}
	footer.footer table tr.supporters2 img.uber{
		width: 180px;
		height: 120px;
	}
	footer.footer table tr.supporters2 img.oraimo{
		height: 90%;
		padding-left: 20px;
	}
	footer.footer table tr.supporters3 img.nike{
		width: 100%;
		height: 100%;
	}
	footer.footer table tr.supporters3 img.cocacola{
		width: 180px;
	}
	footer.footer table tr.supporters3 img.binance{
		width: 140px;
		padding-left: 20px;
	}
	footer.footer table tr.supporters4 img.apple{
		width: 140px;
	}
	footer.footer table tr.supporters4 img.smart{
		width: 140px;
		height: 120px;
		margin-left: 20px;
	}
	footer.footer table tr.supporters4 img.paypal{
		width: 160px;
		height: 160px;
		margin-left: 20px;
	}
}
@media only screen and (max-width: 530px){
	/* second section; white background, a card and an image */
    section.msg1 figure.msg1-img{
		margin-left: 80px;
	}
	section.msg1 div.card{
		margin-top: 160px;
		width: 70%;
		padding-bottom: 170px;
	}
	/* third section; dark blue background, three cards each containing an image and a final card of text */
	section.msg2{
		display: flex;
		flex-flow: column;
		height: 1540px;
	}
	section.msg2 div.container1{
		display: flex;
		flex-flow: column;
		height: 1000px;
		padding-top: 80px;
		padding-left: 0px;
	}
	section.msg2 div.container1{
		display: flex;
		flex-flow: column;
		height: 1000px;
		padding-top: 80px;
		padding-left: 0px;
	}
	section.msg2 div.container1 div.card1{
		width: 80%;
		height: 260px;
		margin-top: 0px;
		margin-left: 10%;
		margin-right: 0px;
	}
	section.msg2 div.container1 div.card1 figure.card1 img.card1-img{
		width: 100%;
		height: 190px;
	}
	section.msg2 div.container1 div.card1 h2.card1-msg{
		margin-top: 12px;
		font-size: 1.5em;
	}
	section.msg2 div.container1 div.card2{
		width: 80%;
		height: 260px;
		margin-left: 10%;
		margin-right: 0px;
	}
	section.msg2 div.container1 div.card2 figure.card2 img.card2-img{
		width: 100%;
		height: 190px;
	}
	section.msg2 div.container1 div.card2 h2.card2-msg{
		margin-top: 12px;
		font-size: 1.5em;
	}
	section.msg2 div.container1 div.card3{
		width: 80%;
		height: 260px;
		margin-left: 10%;
		margin-right: 0px;
	}
	section.msg2 div.container1 div.card3 figure.card3 img.card3-img{
		width: 100%;
		height: 190px;
	}
	section.msg2 div.container1 div.card3 h2.card3-msg{
		margin-top: 12px;
		font-size: 1.5em;
	}
	section.msg2 div.container1 figure.border-left img.line{
		display: none;
	}
	section.msg2 div.container1 figure.border-right img.line{
		display: none;
	}
	section.msg2 div.container2{
		display: flex;
		width: 85%;
		height: 380px;
	} 
	section.msg2 div.container2 div.msg2-msg{
		width: 90%;
		margin-top: 40px;
	}
	section.msg2 div.container2 div.msg2-msg h2.msg1{
		padding-left: 5%;
		font-size: 2.2em;
	}
	section.msg2 div.container2 div.msg2-msg h2.msg2{
		padding-left: 5%;
		margin-top: 30px;
		font-size: 2.2em;
	}
	/* fourth section; white background, two cards each containing an image each and a final card of text */
	section.msg3{
		display: flex;
		flex-flow: column;
		margin-top: 80px;
	}
	section.msg3 div.container1{
		display: flex;
		flex-flow: column;
		justify-content: center;
	}
	section.msg3 div.container1 div.card1{
		height: 450px;
		width: 90%;
	}
	section.msg3 div.container1 div.card1 h3.card1-msg{
		width: 80%;
		font-size: 1.5em;
	}
	section.msg3 div.container1 div.card1 figure.card1-img img.img1{
		position: relative;
		left: 0px;
		width: 114%;
		height: 280px;
	}
	section.msg3 div.container1 div.card2{
		height: 400px;
		width: 90%;
		margin-top: 80px;
	}
	section.msg3 div.container1 div.card2 h3.card2-msg{
		width: 55%;
		font-size: 1.5em;
	}
	section.msg3 div.container1 div.card2 figure.card2-img img.img2{
		position: relative;
		left: 0px;
		width: 100%;
		height: 240px;
	}
	section.msg3 div.container2{
		margin-top: 80px;
		font-size: 1.6em;
		width: 94%;
		height: 680px;
	}
	section.msg3 div.container2 div.msg3-msg{
		width: 90%;
		margin-top: 50px;
	}
	section.msg3 div.container2 div.msg3-msg h3.msg1{
		line-height: 1.4;
	}
	/* fifth section; dark blue background, three cards each containing testimonials */
	section.msg4{
		display: flex;
		flex-flow: column;
	}
	section.msg4 div.container{
		display: flex;
		flex-flow: column;
		justify-content: center;
		margin-top: 20px;
		height: 600px;
		}
	section.msg4 div.container div.card1{
		width: 90%;
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
	}
	section.msg4 div.container div.card1 div.card1-body{
		margin-top: 12px;
		margin-left: 10px;
		margin-right: 10px;
	}
	section.msg4 div.container div.card1 div.card1-head h5.online{
	left: 120px;
    }
	section.msg4 div.container div.card2{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 60px;
	}
	section.msg4 div.container div.card2 div.card2-body{
		margin: 12px;
		padding: 12px;
	}
	section.msg4 div.container div.card2 div.card2-head h5.online{
	left: 150px;
    }
	section.msg4 div.card3{
		margin-left: 10%;
		width: 90%;
	}
	/* sixth section; white background, two cards each containing an image, a text area located between the cards */
	section.msg5 div.container div.card1{
		display: flex;
		flex-flow: column;
		width: 90%; 
		height: 300px;
	} 
	section.msg5 div.container div.card1 figure.card1-img{
		height: 240px;
		width: 100%;
	} 
	section.msg5 div.container div.card1 figure.card1-img img.img1{
		height: 220px;
		width: 100%;
	}
	section.msg5 div.container div.card1 h2.card1-msg{
		margin-top: 0px;
		width: 70%;
		font-size: 1.1em;
	}
	section.msg5 div.container div.txt-area h2.msg{
		margin-top: 30px;
		line-height: 1.5;
		font-size: 1.2em;
	}
	section.msg5 div.container div.card2{
		display: flex;
		flex-flow: column;
		width: 90%; 
		height: 360px;
	}
	section.msg5 div.container div.card2 figure.card2-img{
		width: 100%;
	} 
	section.msg5 div.container div.card2 figure.card2-img img.img2{
		height: 220px;
		width: 100%;
		position: relative;
		left: 0px;
	}
	section.msg5 div.container div.card2 h2.card2-msg{
		margin-top: 15px;
		width: 80%;
		font-size: 0.9em;
	}
	/* seventh section; dark blue background, one card containing one image */
	section.msg6 div.container{
		margin: 0px;
		margin-top: 80px;
		margin-bottom: 60px;
		border-radius: 28px;
		width: 70%;
		height: 500px;
	}
	section.msg6 div.container h2.msg{
		margin-top: 10px;
		width: 90%;
		font-size: 1.3em;
		font-weight: 600;
	}
	section.msg6 div.container figure.card-img img.img{
		width: 120%;
		height: 250px;
		position: relative;
		bottom: 0px;
	}
	/* footer section; pale blue background, table list of supporters, table of footer notes, email collector */
	footer.footer h2.msg1{
		padding-top: 60px;
		text-align: center;
	}
	footer.footer table{
	margin: 0 auto;
	}
	footer.footer table tr.supporters1 img.ribena{
		width: 70%;
		height: 80px;
		border-radius: 40px;
	}
	footer.footer table tr.supporters1 img.dominos{
 		width: 120px;
		height: 120px;
		position: relative;
		bottom: 0px;
		margin-left: 0px;
	}
	footer.footer table tr.supporters1 img.amazon{
		width: 70%;
		height: 80px;
		border-radius: 10px;
		margin-left: 20px;
	}
	footer.footer table tr.supporters2 img.swappa{
		width: 80%;
		height: 80px;
	}
	footer.footer table tr.supporters2 img.uber{
		width: 80%;
		height: 80px;
		margin-left: 0px;
	}
	footer.footer table tr.supporters2 img.oraimo{
		width: 80%;
		height: 80px;
		margin-left: -15px;
	}
	footer.footer table tr.supporters3 img.nike{
		width: 80%;
		height: 80px;
		border-radius: 20px;
	}
	footer.footer table tr.supporters3 img.cocacola{
		width: 80%;
		height: 140px;
		margin-left: 0px;
	}
	footer.footer table tr.supporters3 img.binance{
		width: 80%;
		height: 80px;
		padding-left: 0px;
		margin-left: 10px;
	}
	footer.footer table tr.supporters4 img.apple{
		width: 80%;
		height: 80px;
		border-radius: 25px;
	}
	footer.footer table tr.supporters4 img.smart{
		width: 80%;
		height: 80px;
		border-radius: 10px;
		margin-left: 10px;
	}
	footer.footer table tr.supporters4 img.paypal{
		width: 80%;
		height: 80px;
		margin-left: 0px;
		border-radius: 25px;
		margin-left: 10px;
	}
}
@media only screen and (max-width: 410px){
    /* first section; page banner, a card and an image */
    section.banner div.container div.banner-msg{
		width: 70%;
	}
    section.banner div.container figure.banner-img img.img1{
		width: 90%;
		position: relative;
		top: 180px;
		right: 12px;
	}
	/* second section; white background, a card and an image */
    section.msg1 figure.msg1-img{
		margin-left: 0px;
		width: 100%;
	}
	section.msg1 div.container figure.msg1-img img.img1{
		width: 350px;
		margin-left: 60px;
		margin-top: -140px;
	}
	section.msg1 div.card{
		padding-bottom: 240px;
	}
	section.msg1 div.card div.msg2-msg{
		width: 100%;
	}
	/* third section; dark blue background, three cards each containing an image and a final card of text */
	section.msg2 div.container1 div.card1{
		height: 280px;
	}
	section.msg2 div.container2{
		display: flex;
		width: 85%;
		height: 380px;
		position: relative;
		left: 7.5%;
	}
	section.msg2 div.container2{
		margin-top: 20px;
		margin-left: 0;
		padding-left: 0;
	}
	section.msg2 div.container2 div.msg2-msg{
		margin-left: auto;
		margin-right: auto;
	}
	section.msg2 div.container2 div.msg2-msg h2.msg1{
		padding-left: 0;
	}
	section.msg2 div.container2 div.msg2-msg h2.msg2{
		padding-left: 0;
	}
	/* fourth section; white background, two cards each containing an image each and a final card of text */
	section.msg3 div.container1 div.card1 figure.card1-img img.img1{
		position: relative;
		left: 0px;
		width: 114%;
		height: 240px;
	}
	section.msg3 div.container1 div.card2 figure.card2-img img.img2{
		position: relative;
		left: 0px;
		width: 100%;
		height: 220px;
	}
	section.msg3 div.container2{
		padding-bottom: 50px;
	}
	/* fifth section; dark blue background, three cards each containing testimonials */	
	section.msg4 div.container div.card1{
		margin-top: 0px;
		height: 600px;
	}
	section.msg4 div.container div.card1 div.card1-head h5.online{
		left: 70px;
	}
	section.msg4 div.container div.card2{
		margin-top: 80px;
		height: 600px;
	}
	section.msg4 div.container div.card2 div.card2-head h5.online{
		left: 100px;
	}
	/* sixth section; white background, two cards each containing an image, a text area located between the cards */
	section.msg5 div.container div.card1 figure.card1-img img.img1{
		height: 260px;
		margin-top: -50px;
	}
	section.msg5 div.container div.card1 h2.card1-msg{
		margin-top: -40px;
		font-size: 1.1em;
	}
	section.msg5 div.container div.txt-area h2.msg{
		margin-top: 30px;
		line-height: 1.5;
		font-size: 1.2em;
	}
	section.msg5 div.container div.card2 figure.card2-img img.img2{
		height: 260px;
		margin-top: -50px;
	}
	section.msg5 div.container div.card2 h2.card2-msg{
		margin-top: -15px;
	}
 	/* seventh section; dark blue background, one card containing one image */
	section.msg6 div.container{
		margin: 0px;
		margin-top: 80px;
		margin-bottom: 60px;
		border-radius: 28px;
		width: 220px;
		height: 540px;
	}
	section.msg6 div.container h2.msg{
		margin-top: 10px;
		width: 220px;
	}
	section.msg6 div.container figure.card-img img.img{
		width: 330px;
		height: 250px;
		padding-left: 22px;
		position: relative;
		bottom: 30px;
	}
	/* footer section; pale blue background, table list of supporters, table of footer notes, email collector */
	footer.footer table{
	margin: 0 auto;
	}
	footer.footer table tr.supporters1 img.ribena{
		width: 80px;
		height: 50px;
		border-radius: 40px;
	}
	footer.footer table tr.supporters1 img.dominos{
		width: 80px;
		height: 80px;
		position: relative;
		bottom: 0px;
		margin-left: 10px;
	}
	footer.footer table tr.supporters1 img.amazon{
		width: 80px;
		height: 50px;
		border-radius: 10px;
		margin-left: 10px;
	}
	footer.footer table tr.supporters2 img.swappa{
		width: 80px;
		height: 50px;
	}
	footer.footer table tr.supporters2 img.uber{
		width: 80px;
		height: 50px;
		margin-left: 10px;
	}
	footer.footer table tr.supporters2 img.oraimo{
		width: 80px;
		height: 50px;
	}
	footer.footer table tr.supporters3 img.nike{
		width: 80px;
		height: 50px;
		border-radius: 20px;
	}
	footer.footer table tr.supporters3 img.cocacola{
		width: 80px;
		height: 100px;
		margin-left: 10px;
	}
	footer.footer table tr.supporters3 img.binance{
		width: 80px;
		height: 50px;
		padding-left: 0px;
		margin-left: 10px;
	}
	footer.footer table tr.supporters4 img.apple{
		width: 80px;
		height: 70px;
		border-radius: 25px;
	}
	footer.footer table tr.supporters4 img.smart{
		width: 80px;
		height: 50px;
		border-radius: 10px;
		margin-left: 10px;
	}
	footer.footer table tr.supporters4 img.paypal{
		width: 80px;
		height: 70px;
		margin-left: 0px;
		border-radius: 25px;
		margin-left: 10px;
	}
}
@media only screen and (max-width: 340px){
    /* first section; page banner, a card and an image */
    section.banner div.container div.banner-msg{
		height: 190px;
		width: 260px;
		top: 160px;
		left: 15px; 
	}
    section.banner div.container figure.banner-img img.img1{
		width: 300px;
		height: 300px;
		position: relative;
		top: 195px;
	}
	/* second section; white background, a card and an image */
	section.msg1 div.container{
		width: 65%;
		height: 500px;
	}
	section.msg1 div.container figure.msg1-img img.img1{
		margin-left: 70px;
		width: 300px;
	}
	section.msg1 div.card{
		margin-top: 120px;
		width: 60%;
		padding-bottom: 380px;
	}
	/* third section; dark blue background, three cards each containing an image and a final card of text */
	section.msg2{
		height: 1480px;
	}
	section.msg2 div.container1{
		display: flex;
		flex-flow: column;
		height: 1000px;
		padding-top: 40px;
		padding-left: 0px;
	}
	section.msg2 div.container2{
		height: 440px;
		position: relative;
		bottom: 20px;
		margin-top: 80px;
		padding-bottom: 20px;
		margin-bottom: 80px; 
	}
	section.msg2 div.container2 div.msg2-msg h2.msg1{
		font-size: 1.8em;
	}
	section.msg2 div.container2 div.msg2-msg h2.msg2{
		font-size: 1.8em;
	}
	/* fourth section; white background, two cards each containing an image each and a final card of text */
	section.msg3{
		margin-top: 60px;
	}
	section.msg3 div.container1 div.card1{
		height: 380px;
	}
	section.msg3 div.container1 div.card1 h3.card1-msg{
		font-size: 1.4em;
	}
	section.msg3 div.container1 div.card1 figure.card1-img img.img1{
		height: 200px;
	}
	section.msg3 div.container1 div.card2{
		margin-top: 120px;
		height: 350px;
	}
	section.msg3 div.container1 div.card2 h3.card2-msg{
		font-size: 1.4em;
	}
	section.msg3 div.container1 div.card2 figure.card2-img img.img2{
		height: 200px;
	}
	section.msg3 div.container2{
		margin-top: 60px;
		font-size: 1.3em;
		height: 605px;
	}
	section.msg3 div.container2 div.msg3-msg{
		margin-top: 40px;
	}
	/* fifth section; dark blue background, three cards each containing testimonials */

	section.msg4 div.container div.card1{
		margin-top: 0px;
	}
	section.msg4 div.container div.card1 div.card1-head h5.online{
	left: 40px;
    }
	section.msg4 div.container div.card2 div.card2-head h5.online{
	left: 70px;
    }
	/* sixth section; white background, two cards each containing an image, a text area located between the cards */
	section.msg5 div.container div.card1{
		height: 300px;
	} 
	section.msg5 div.container div.card1 figure.card1-img{
		height: 160px;
	}
	section.msg5 div.container div.card1 h2.card1-msg{
		margin: auto;
	}
	section.msg5 div.container div.txt-area h2.msg{
		margin-top: 30px;
		line-height: 1.5;
		font-size: 1.1em;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	section.msg5 div.container div.card2{
		height: 380px;
	}
	/* seventh section; dark blue background, one card containing one image */
	section.msg6 div.container{
		width: 162px;
		height: 520px;
	}
	section.msg6 div.container figure.card-img img.img{
		width: 241px;
		height: 220px;
		padding-left: 2px;
	}
}
@media only screen and (max-width: 300px){
    /* first section; page banner, a card and an image */
    section.banner div.container div.banner-msg{
		height: 190px;
		width: 230px;
		top: 160px;
		left: 15px; 
	}
    section.banner div.container figure.banner-img img.img1{
		width: 280px;
		height: 300px;
		position: relative;
		top: 195px;
	}
	/* second section; white background, a card and an image */
	section.msg1 div.container{
		width: 165px;
		height: 508px;
	}
	section.msg1 figure.msg1-img img.img1{
		width: 240px;
		height: 245px;
		position: relative;
		right: 240px;
		top: 360px;
	}
	section.msg1 div.container div.msg1-msg{
		width: 200px;
		padding-top: 25px;
		position: relative;
		right: 20px
	}
	section.msg1 div.card{
		margin-top: 120px;
		padding-bottom: 440px;
	}
	section.msg1 div.card div.msg2-msg{
		width: 110%;
	}
	/* fifth section; dark blue background, three cards each containing testimonials */
	section.msg4 div.container div.card1 div.card1-head h5.online{
	left: 15px;
    }
	section.msg4 div.container div.card2 div.card2-head h5.online{
	left: 45px;
    }
}
@media only screen and (max-width: 260px){
	/* second section; white background, a card and an image */
	section.msg1 div.container{
		width: 60%;
		height: 560px;
	}
	section.msg1 div.container div.msg1-msg{
		margin-left: -5%;
	}
	section.msg1 div.container figure.msg1-img img.img1{
		width: 260px;
	}
	section.msg1 div.card{
		margin-top: 80px;
		width: 60%;
		padding-bottom: 500px;
	}	
	section.msg1 div.card div.msg2-msg{
		margin-left: -15px;
	}
	/* fifth section; dark blue background, three cards each containing testimonials */
	section.msg4 div.container div.card1 div.card1-head h5.online{
	left: 5px;
    }
	section.msg4 div.container div.card2 div.card2-head h5.online{
	left: 35px;
    }
	/* sixth section; white background, two cards each containing an image, a text area located between the cards */
	section.msg5 div.container div.card1{
		height: 300px;
	} 
	section.msg5 div.container div.card2{
		height: 420px;
	} 
	/* footer section; pale blue background, table list of supporters, table of footer notes, email collector */
	footer.footer table tr.supporters1 img.ribena{
		width: 70px;
		height: 45px;
	}
	footer.footer table tr.supporters1 img.dominos{
		width: 70px;
		height: 70px;
	}
	footer.footer table tr.supporters1 img.amazon{
		width: 70px;
		height: 45px;
	}
	footer.footer table tr.supporters2 img.swappa{
		width: 70px;
		height: 45px;
	}
	footer.footer table tr.supporters2 img.uber{
		width: 70px;
		height: 45px;
	}
	footer.footer table tr.supporters2 img.oraimo{
		width: 70px;
		height: 45px;
	}
	footer.footer table tr.supporters3 img.nike{
		width: 70px;
		height: 45px;
	}
	footer.footer table tr.supporters3 img.cocacola{
		width: 70px;
		height: 95px;
	}
	footer.footer table tr.supporters3 img.binance{
		width: 70px;
		height: 45px;
	}
	footer.footer table tr.supporters4 img.apple{
		width: 70px;
		height: 65px;
	}
	footer.footer table tr.supporters4 img.smart{
		width: 70px;
		height: 45px;
	}
	footer.footer table tr.supporters4 img.paypal{
		width: 70px;
		height: 65px;
	}
}