section.msg{
    display: flex;
	flex-flow: column;
}
section.msg div.title-card{
	display: flex;
    justify-content: center;
    background-color: #2699FB;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 60%;
    border-radius: 6px;
    box-shadow: 3px 9px 3px #beb4b4;
}
section.msg div.title-card h4.card-msg1{
    color: #ffffff;
    padding: 5px;
    text-align: center;
}
section.msg div.container1{
    margin-top: 12px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
	border: solid 1px #837f7f;
	box-shadow: 2px 5px 3px #beb4b4;
}
section.msg div.container1 div.card{
    width: 100%;
}
section.msg div.container1 div.card p.card-msg2{
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
}
section.msg div.container1 div.card div.images{
    display: flex;
    margin-top: 20px;
    width: 100%;
    overflow-x: scroll;
}
section.msg div.container1 div.card div.images::-webkit-scrollbar{
    width: 3px;
}
section.msg div.container1 div.card div.images::-webkit-scrollbar-track{
    background: #f1f1f1;
}
section.msg div.container1 div.card div.images::-webkit-scrollbar-track-piece{
    background: #a1a1a1;
}
section.msg div.container1 div.card div.images::-webkit-scrollbar-thumb{
    background: #2699FB;
}
section.msg div.container1 div.card div.images img{
    width: 280px;
    height: 160px;
    border-radius: 15px;
    margin-right: 25px;
}
/* media queries */
@media only screen and (max-width: 870px){
	/* only section; white background, three cards each containing an image and text */
	section.msg div.container1{
		width: 80%;
	}
	section.msg div.title-card{
		width: 80%;
	}
}
@media only screen and (max-width: 690px){
	/* only section; white background, three cards each containing an image and text */
	section.msg div.container1{
		width: 85%;
	}
	section.msg div.title-card{
		width: 85%;
	}
    section.msg div.container1 div.card div.images img{
        width: 120px;
        height: 80px;
    }
    section.msg div.container1 div.card p.card-msg2{
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 560px){
	/* only section; white background, three cards each containing an image and text */
	section.msg div.container1{
		width: 95%;
	}
	section.msg div.title-card{
		width: 95%;
	}
}